*{margin:0;padding:0;outline:none;box-sizing:border-box;}
body{
	font-family:sans-serif;
	display:flex;
	align-items:center;
	justify-content:center;
	min-height:100vh;
	background:-webkit-linear-gradient(bottom, #0250c5, #d43f8d);
}
.container{
	width:330px;
	background:#fff;
	border-radius:5px;
	text-align:center;
	padding:40px 35px 10px;
}
.container header{
	font-size:35px;
	font-weight:600;
	margin-bottom:30px;
}
.container .form-outer{
	width:100%;
	overflow:hidden;
}
.form-outer form{
	display:flex;
	width:400%;
}
.form-outer form .page{
	width:25%;
	transition:margin-left 0.5s ease-in-out;
}
.form-outer form .page .title{
	text-align:left;
	font-size:25px;
	font-weight:500;
}
.form-outer form .page .field{
	height:45px;
	margin:45px 0;
	display:flex;
	position:relative;
}
.form-outer form .page .field .label{
	position:absolute;
	top:-25px;
	font-weight:550;
}
.form-outer form .page .field input{
	height:100%;
	width:100%;
	border:1px solid lightgrey;
	border-radius:5px;
	font-size:18px;
	padding-left:15px;
}
.form-outer form .page .field select{
	width:100%;
	padding-left:10px;
	font-weight:600;
	font-size:17px;
}
.form-outer form .page .field button{
	width:100%;
	height:calc(100% + 5px);
	margin-top:-20px;
	border:none;
	background:#d43f8d;
	color:white;
	border-radius:5px;
	font-size:18px;
	font-weight:550;
	letter-spacing:1px;
	text-transform:uppercase;
	cursor:pointer;
	transition:background 0.3s;
}
.form-outer form .page .field button:hover,
.form-outer form .page .btns button:hover{background:#000;}
.form-outer form .page .field button.prev{
	margin-right:3px;
	font-size:17px;
}
.form-outer form .page .field button.next{
	margin-left:3px;
}
.container .progress-bar{
	display:flex;
	margin:40px 0;
}
.container .progress-bar .step{
	text-align:center;
	width:100%;
	position:relative;
}
.progress-bar .step p{
	font-size:18px;
	font-weight:500;
	color:black;
	margin-bottom:8px;
	transition:0.2s;
}
.progress-bar .step p.active{color:#d43f8d;}
.bullet{
	height:25px;
	width:25px;
	border:2px solid black;
	display:inline-block;
	border-radius:50%;
	position:relative;
	transition:0.2s
}
.progress-bar .step .bullet.active{
	border-color:#d43f8d;
	background:#d43f8d;
}
.progress-bar .step:nth-child(4) .bullet::before,
.progress-bar .step:nth-child(4) .bullet::after{
	display:none;
}
.progress-bar .step .bullet::before,
.progress-bar .step .bullet::after{
	content:"";
	position:absolute;
	height:3px;
	width:38px;
	background:#262626;
	bottom:10px;
	right:-41px
}
.progress-bar .step .bullet.active::after{
	background:#d43f8d;
	transform:scaleX(0);
	transform-origin:left;
	animation:animate .3s linear forwards;
}
@keyframes animate{
	100%{transform:scaleX(1)}
}
.bullet span{
	font-weight:500;
	font-size:17px;
	line-height:1.3;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
}
.bullet.active span{display:none;}
.check{
	position:absolute;
	left:50%;
	top:73%;
	transform:translate(-50%,-50%);
	display:none;
}
.check.active{display:block;color:#fff}